@import "../../assets/sass/mixins.scss";

.page-about {
    max-width: 120rem;
    padding: 0 2rem;
    margin: 10vh auto 0;

    .Arrow {
        transform: rotate(-135deg);
        animation: arrowAppear 0.5s ease-out 1.5s backwards;
    }

    &__headings {
        margin-top: 10vh;
        will-change: transform, opacity;

        & h3 {
            font-size: 1.8rem;
            font-weight: 300;
        }

        & h1 {
            margin-top: 1rem;
            font-size: 6.4rem;
            font-family: "Roboto-mono", sans-serif;
            font-weight: 800;
            text-transform: uppercase;

            @include response(tab-port) {
                font-size: 5rem;
                line-height: 5rem;
            }

            @include response(phone) {
                font-size: 4rem;
            }
        }
    }

    &__bio {
        margin-top: 12vh;
        font-size: 2rem;

        & .text-margin {
            margin-bottom: 2rem;

            @include response(phone) {
                margin-bottom: 4rem;
            }
        }

    }

    &__talents {
        margin: 25vh 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include response(phone) {
            flex-direction: column;
            margin: 10vh 0;
        }

        &-list {
            width: 55%;

            @include response(phone) {
                width: 100%;
            }

            & .SkillList {
                margin-bottom: 10rem;
            }

            & .ToolsList {}

            & h2 {
                font-size: 4rem;
                font-family: "Roboto-mono", sans-serif;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            & li {
                font-size: 2rem;
                list-style: inside;
            }
        }
    }

    &__photo {
        width: 45%;

        @include response(phone) {
            margin-top: 10vh;
            width: 70%;
        }
    }

    &__get-in-touch {
        margin: 10vh 0;

        & h4 {
            font-size: 3rem;
            text-align: center;
        }

        & .social-list {
            margin-top: 5vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            & a {
                display: block;
            }

            & li {
                padding: 0 3rem;
            }
        }
    }
}

.PageAbout-appear {
    transform: translateY(40vh);
    opacity: 0;
}

.PageAbout-appear-done {
    transition: 1.5s all cubic-bezier(0.68, -0.55, 0.3, 1.3);
    transform: translateY(0);
    opacity: 1;
}

.PageAbout-heading-appear {

    & h1,
    & h3 {
        transition: 1.5s opacity cubic-bezier(0.68, -0.55, 0.3, 1.3);
        opacity: 0;
    }
}

.PageAbout-heading-appear-done {

    & h1,
    & h3 {
        transition: 1.5s opacity cubic-bezier(0.68, -0.55, 0.3, 1.3);
        opacity: 1;
    }
}

@keyframes arrowAppear {
    0% {
        transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        transform: rotate(-135deg);
        opacity: 1;
    }
}