.page-about {
    max-width: 100rem;
    min-width: 32rem;
    margin: 0 auto;
    overflow: hidden;

    &__headings {
        margin-top: 20vh;
        // transition: 1s all ease-out;
        will-change: transform, opacity;

        & h3 {
            font-size: 1.8rem;
            font-weight: 300;
        }

        & h1 {
            text-transform: uppercase;
            font-size: 6.4rem;
            font-weight: 700;
        }
    }

    &__bio {
        margin-top: 12vh;
        font-size: 1.9rem;

        &>p {
            margin-bottom: 2rem;
        }
    }

    &__photo {
        margin-top: 10rem;
        width: 50%;
        margin-left: auto;

        & a {
            display: block;
        }
    }
}

.PageAbout-appear {
    transform: translateY(40vh);
    opacity: 0;
}

.PageAbout-appear-done {
    transition: 1.5s all cubic-bezier(0.68, -0.55, 0.3, 1.3);
    transform: translateY(0);
    opacity: 1;
}