.footer {
    text-transform: uppercase;
    height: 20vh;
    font-size: 3rem;
    padding: 5rem 20% 3rem;

    &-list {
        display: flex;
        justify-content: space-between;

        &__item {
            position: relative;

            &::after {
                transition: 0.2s all ease-out;
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -5%;
                height: 0.2rem;
                width: 0;
                background-color: black;
            }

            &:hover {
                &::after {
                    width: 110%;
                }
            }
        }
    }

    &.homepage {
        color: black;
        background: white;
    }

    &.other {
        color: white;
        background: black;

        & .footer-list__item::after {
            background-color: white;
        }
    }
}

.active-link {
    & span {
        &::after {
            width: 110%;
        }
    }
}