.footer {
    &-wrapper {
        width: 100vw;

        &.homepage {
            color: black;
            background: white;
        }

        &.other {
            color: white;
            background: black;

            & .footer-list__item::after {
                background-color: white;
            }
        }
    }

    max-width: 100rem;
    margin: 0 auto;

    text-transform: uppercase;
    height: 20vh;
    font-size: 3rem;

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        &__item {
            position: relative;

            &::after {
                transition: 0.2s all ease-out;
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -5%;
                height: 0.2rem;
                width: 0;
                background-color: black;
            }

            &:hover {
                &::after {
                    width: 110%;
                }
            }
        }
    }


}

.active-link {
    & span {
        &::after {
            width: 110%;
        }
    }
}