// .footer-appear-active {}
// .footer-enter-done {}

.footer-appear {
    opacity: 0;
}


.footer-appear-done {
    transition: 2s all ease-out;
    opacity: 1;
}

.canvas-appear {
    & .canvas-text {
        transform: translateY(5vh);
        opacity: 0;
    }
}

.canvas-appear-done {
    & .canvas-text {
        transition: 3s opacity ease-out, 0.5s transform ease-in;
        transform: translateY(0);
        opacity: 1;
    }
}

.animBc {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: 1.5s all ease-in;

    &-appear {
        transform: translateY(0);

        &-done {
            transform: translateY(-105vh);
        }
    }
}